<header class="header">
  <!-- Logo -->
  <a href="/" class="header__logo">Crevillent</a>
  <!-- Navigation -->
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#inicio" class="nav__link" title="Ir al inicio">Inicio</a>
      </li>
      <li class="nav__item">
        <a href="#fiestas" class="nav__link" title="Ir a sección de fiestas">
          Fiestas
        </a>
      </li>
      <li class="nav__item">
        <a href="#parques" class="nav__link" title="Ir a sección de parques">
          Parques
        </a>
      </li>
    </ul>
  </nav>
</header>
