$font-family-lato: "Lato", "Helvetica Neue", Arial, sans-serif;
$font-family-Biorhyme: "BioRhyme", "Times New Roman", serif;

$color-dark-blue: #203952;
$color-medium-blue: #5d7791;
$color-light-blue: #bec8d1;
$color-dark-brown: #33240b;
$color-medium-brown: #7c6845;
$color-light-brown: #d1cabe;

$font-small: 0.9rem;
$font-medium: 1.1rem;
$font-medium-extra: 1.2rem;
$font-large: 1.4rem;
$font-h2: 2rem;
$font-h1: 3rem;

// Source: https://getbootstrap.com/docs/5.3/layout/breakpoints/#available-breakpoints
$minWidthMobile: 576px;
$minWidthTablet: 768px;
$minWidthLargeDevice: 992px;
$minWidthLargeDesktop: 1200px;
